body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-bottom: 20px;
}

.nav-btn {
  display: inline-block;
  margin: 10px;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #4e75ff;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.nav-btn:hover {
  background-color: #3e5dc6;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 15px;
  /* Відступ між елементами */
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 32px;
  font-weight: bold;
}

.label {
  font-size: 14px;
  color: #333;
}