body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-bottom: 20px;
}

.nav-btn {
  display: inline-block;
  margin: 10px;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #4e75ff;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.nav-btn:hover {
  background-color: #3e5dc6;
}

/* 1-timer.css */
.timer {
  display: flex;
  gap: 20px;
}

.field {
  text-align: center;
}

.value {
  font-size: 2rem;
}

.label {
  font-size: 1rem;
}

button[disabled] {
  opacity: 0.5;
}